body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.navbar{
    height: 300px;

}
.nav-item{
     display: flex;
     flex-direction: row;
     list-style: none;
}
.nav-item img{
    height: 150px;
    width: 150px;
    margin-top: 0;
}
.nav-logo img{
    margin-top: 0;
}
.search-bar input{
    border: none;
    height: 20px;
    width: 300px;
}
.nav-items-text{
    display: flex;
    flex-direction: row;
    justify-items: center;
    list-style: none;
    gap: 20px;
}
.nav-items-right{
    display: flex;
    flex-direction: row;
    justify-items: center;
    list-style: none;
}